<template name="userManagement">
  <div class="user-container">
    <div class="panel panel-default userBox">
      <div class="panel-body">
        {{# if currentUser}}
        <!-- Message for logged in user -->
        <p>Hello <strong>@{{currentUser.username}}</strong>, welcome to twitterClone</p>
        <button type="button" class="btn btn-info fullbutton" id="logout">Log out</button>

        <table class="table">
          <tr>
            <td class="tableHeader">Tweets</td>
            <td class="tableHeader">Following</td>
            <td class="tableHeader">Followers</td>
          </tr>
          <tr>
            <td class="tableContent">{{tweets}}</td>
            <td class="tableContent">{{following}}</td>
            <td class="tableContent">{{followers}}</td>
          </tr>
        </table>

        {{else}}
        <!-- Log in module -->
        <h4>Already have an account?</h4>
        <div class="form-group">
          <input class="form-control input-sm" id="login-username" placeholder="Username">
          <input class="form-control input-sm" id="login-password" placeholder="Password" type="password">
        </div>

        <button type="button" class="btn btn-info fullbutton login" id="login">Log in</button>


        <!-- Sign up module -->
        <h4>New User?</h4>
        <div class="form-group">
          <input class="form-control input-sm" id="signup-username" placeholder="Username">
          <input class="form-control input-sm" id="signup-fullname" placeholder="Full Name (Optional)">
          <input class="form-control input-sm" id="signup-password" placeholder="Password" type="password">
        </div>

        <button type="button" class="btn btn-info fullbutton" id="signup">Sign up</button>
        {{/if}}

      </div>
    </div>
  </div>
</template>
